# ==============================================================
# = Articoli Web Service con Autenticazione JWT
# ==============================================================

server:
  port: 5051

spring:
  # ==============================================================
  # = Proprietà Fonte Dati PostgreSQL
  # ==============================================================
  datasource:
    initialization-mode: always
    password: 1993Pierci
    platform: postgres
    url: jdbc:postgresql://localhost:5433/AlphaShop
    username: postgres
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: true

# ==============================================================
# = Proprietà Servizio gestUser
# ==============================================================
gestuser:
  srvUrl: http://localhost:8019/api/utenti/cerca/userid/
  userId: ReadUser
  password: BimBumBam_2020

# ==============================================================
# = Parametri Sicurezza JWT 
# ==============================================================
sicurezza:
  uri: /auth
  refresh: /refresh
  header: Authorization
  prefix: Bearer
  expiration: 86400
  secret: 1993Pierci

# ==============================================================
# = Opzioni Open Feign  
# ==============================================================
feign:
  compression:
    request:
      enabled: true
    response:
      enabled: true

# ==============================================================
# = Configurazione levello di Log PriceClient
# ==============================================================      
logging:
  level:
    com:
      pierciccio:
        webapp:
          controller:
            PriceClient: DEBUG
  

